<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :sector %><br>
    <%= f.text_area :sector %>
  </div>
  <div class="field">
    <%= f.label :contact_date %><br>
    <%= f.date_select :contact_date %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.text_area :project %>
  </div>
  <div class="field">
    <%= f.label :project_language %><br>
    <%= f.text_area :project_language %>
  </div>
  <div class="field">
    <%= f.label :project_description %><br>
    <%= f.text_area :project_description %>
  </div>
  <div class="field">
    <%= f.label :calc_hours %><br>
    <%= f.number_field :calc_hours %>
  </div>
  <div class="field">
    <%= f.label :project_partial_value %><br>
    <%= f.number_field :project_partial_value %>
  </div>
  <div class="field">
    <%= f.label :analysis_contract %><br>
    <%= f.date_select :analysis_contract %>
  </div>
  <div class="field">
    <%= f.label :contract_conclusion %><br>
    <%= f.date_select :contract_conclusion %>
  </div>
  <div class="field">
    <%= f.label :project_prevision %><br>
    <%= f.text_area :project_prevision %>
  </div>
  <div class="field">
    <%= f.label :changed_in_project %><br>
    <%= f.text_area :changed_in_project %>
  </div>
  <div class="field">
    <%= f.label :new_calcs_project %><br>
    <%= f.text_area :new_calcs_project %>
  </div>
  <div class="field">
    <%= f.label :project_prev_conclusion_new_date %><br>
    <%= f.date_select :project_prev_conclusion_new_date %>
  </div>
  <div class="field">
    <%= f.label :new_values_project %><br>
    <%= f.number_field :new_values_project %>
  </div>
  <div class="field">
    <%= f.label :project_completion_and_delivery %><br>
    <%= f.date_select :project_completion_and_delivery %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
